@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: rgb(253, 242, 236);
  background: linear-gradient(
    180deg,
    rgba(253, 242, 236, 1) 0%,
    rgba(255, 255, 255, 1) 50%,
    rgba(253, 242, 236, 1) 100%
  );
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.slide {
  -webkit-animation: scroll 60s linear infinite;
  animation: scroll 60s linear infinite;
}

@-webkit-keyframes scroll {
  0% {
    transform: translateX(calc(-250px * 7));
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes scroll {
  0% {
    transform: translateX(calc(-250px * 7));
  }
  100% {
    transform: translateX(0);
  }
}
